dist: xenial
language: ruby
sudo: false
rvm:
  - 2.6
  - 2.5
  - jruby-9.1.9.0
gemfile:
  - gemfiles/ar51.gemfile
  - gemfiles/ar52.gemfile
matrix:
  allow_failures:
    - rvm: jruby-9.1.9.0
services:
  - mysql
addons:
  apt:
    packages:
      - language-pack-ko
  code_climate:
    repo_token: 839b9b8aed0dde7b406316ac3cdfcaba6a5a8466c3efe68cc2d21ec597d00ee3
env:
  global:
    - MYSQL_USER=root
    - MYSQL_HOST=""
    - MYSQL_PORT=3306
    - CC_TEST_REPORTER_ID=fe440aa514caa78124e40aafa2d6f748e9c0d6a61b13d6cad29299f568651166
before_script:
  - mysql -u root -e 'CREATE DATABASE IF NOT EXISTS mysql2rgeo_adapter_test;'
  - mysql -u root -e 'CREATE DATABASE IF NOT EXISTS mysql2rgeo_tasks_test;'
  - mkdir tmp && touch tmp/tmp.sql
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script: bundle exec rake test
after_script:
  - ./cc-test-reporter after-build -t simplecov --exit-code $TRAVIS_TEST_RESULT
before_install:
  - gem update --system
  - gem install bundler